*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

background:#0f172a;

display:flex;

justify-content:center;

align-items:center;

height:100vh;
}

.container{

width:500px;

background:#1e293b;

padding:30px;

border-radius:20px;

text-align:center;

color:white;

box-shadow:0 0 20px black;
}

video{

width:100%;

margin-top:20px;

border-radius:10px;

background:black;
}

.buttons{

margin:20px;

display:flex;

justify-content:center;

gap:20px;
}

.buttons button{

width:60px;

height:60px;

border:none;

border-radius:50%;

font-size:20px;

background:#3b82f6;

color:white;

cursor:pointer;
}

.buttons button:hover{

background:#2563eb;
}

#volume{

width:100%;
}

.home{

padding:12px 25px;

background:#22c55e;

border:none;

border-radius:8px;

color:white;

cursor:pointer;
}

.home:hover{

background:#16a34a;
}