*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

background:#111827;

display:flex;

justify-content:center;

align-items:center;

height:100vh;
}

.player{

width:450px;

background:#1f2937;

padding:30px;

border-radius:20px;

text-align:center;

color:white;

box-shadow:0 0 20px black;
}

h1{

margin-bottom:20px;
}

input[type=file]{

margin:20px 0;
}

.controls{

display:flex;

justify-content:space-around;

margin:25px 0;
}

.controls button{

width:60px;

height:60px;

border:none;

border-radius:50%;

font-size:20px;

background:#0ea5e9;

color:white;

cursor:pointer;
}

.controls button:hover{

background:#0284c7;
}

.time{

display:flex;

align-items:center;

gap:10px;
}

#progress{

flex:1;
}

#volume{

width:100%;
}

.home{

padding:10px 20px;

border:none;

border-radius:8px;

background:#22c55e;

color:white;

cursor:pointer;
}